body {
  background-color: whitesmoke
}

h1 {
  text-align: center;
  color: grey;
  font-size: 2em
}

p {
  color: black
}

footer {
  font-size: 0.8em;
  font-style: italic;
  text-align: right
}

ul {
  line-height: 1.5
}

#Aide {
  display: none;
}

#conseil {
  text-align: center;
}